doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= 'Corona Dashboard'
  body
    #container
    script(src='/javascripts/modules/jquery.js')
    script(src='/javascripts/modules/three.module.js')
    script(src='/javascripts/globe/globe.js')