doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    title= title
  body
    nav.navbar.navbar-dark.navbar-expand-lg
      .navbar-brand
        svg.float-left(width='32' height='32')
          path(d='m 30,14 c -0.73875,0 -1.385,0.4025 -1.73125,1 H 26.4525 C 26.24875,12.853875 25.396938,10.893938 24.094563,9.319625 l 1.28825,-1.28825 c 0.662687,0.178375 1.40725,0.0065 1.930875,-0.5163125 0.78,-0.78 0.78,-2.04875 0,-2.82875 -0.78,-0.78 -2.04875,-0.78 -2.82875,0 -0.521813,0.5224375 -0.694313,1.264125 -0.516313,1.930875 l -1.28825,1.28825 C 21.106063,6.6030625 19.146125,5.75125 17,5.5475 V 3.73125 C 17.5975,3.385 18,2.73875 18,2 18,0.896875 17.103125,0 16,0 c -1.103125,0 -2,0.896875 -2,2 0,0.73875 0.4025,1.385 1,1.73125 V 5.5475 C 12.853875,5.75125 10.893938,6.6030625 9.319625,7.9054375 l -1.28825,-1.28825 c 0.178,-0.6668125 0.00544,-1.4085 -0.5163125,-1.930875 -0.78,-0.78 -2.04875,-0.78 -2.82875,0 -0.78,0.78 -0.78,2.04875 0,2.82875 0.523375,0.5225 1.267875,0.6948125 1.930875,0.5163125 l 1.28825,1.28825 C 6.6030625,10.893938 5.75125,12.853875 5.5475,15 H 3.73125 C 3.385,14.4025 2.73875,14 2,14 c -1.103125,0 -2,0.896875 -2,2 0,1.103125 0.896875,2 2,2 0.73875,0 1.385,-0.4025 1.73125,-1 H 5.5475 c 0.20375,2.146125 1.0555625,4.106062 2.3579375,5.680375 l -1.28825,1.28825 c -0.66675,-0.178 -1.4085,-0.0054 -1.930875,0.516312 -0.78,0.780001 -0.78,2.04875 0,2.82875 0.7814375,0.781438 2.0501875,0.778563 2.82875,0 C 8.036875,26.79125 8.209375,26.049562 8.031375,25.382812 l 1.28825,-1.28825 C 10.893938,25.396937 12.853875,26.24875 15,26.4525 v 1.81625 C 14.4025,28.615 14,29.26125 14,30 c 0,1.103125 0.896875,2 2,2 1.103125,0 2,-0.896875 2,-2 0,-0.73875 -0.4025,-1.385 -1,-1.73125 V 26.4525 c 2.146125,-0.20375 4.106063,-1.055563 5.680375,-2.357937 l 1.28825,1.28825 c -0.178,0.66675 -0.0054,1.4085 0.516313,1.930875 0.778562,0.778562 2.047312,0.781437 2.82875,0 0.78,-0.78 0.78,-2.04875 0,-2.82875 -0.522438,-0.521813 -1.264125,-0.694313 -1.930875,-0.516313 l -1.28825,-1.28825 C 25.396938,21.106062 26.24875,19.146125 26.4525,17 h 1.81625 c 0.34625,0.5975 0.9925,1 1.73125,1 1.103125,0 2,-0.896875 2,-2 0,-1.103125 -0.896875,-2 -2,-2 z m -17.3125,1.5 c -0.965,0 -1.75,-0.785 -1.75,-1.75 0,-0.965 0.785,-1.75 1.75,-1.75 0.965,0 1.75,0.785 1.75,1.75 0,0.965 -0.785,1.75 -1.75,1.75 z M 17,21.5 c -1.103125,0 -2,-0.896875 -2,-2 0,-1.103125 0.896875,-2 2,-2 1.103125,0 2,0.896875 2,2 0,1.103125 -0.896875,2 -2,2 z m 3.5,-7 C 19.673125,14.5 19,13.826875 19,13 c 0,-0.826875 0.673125,-1.5 1.5,-1.5 0.826875,0 1.5,0.673125 1.5,1.5 0,0.826875 -0.673125,1.5 -1.5,1.5 z', style='fill:rgb(255,255,255)')
        .float-left#label #{title}

    input.chosen-value#bundesland(type='text' value='' placeholder='Type to filter')
    ul#bundeslandlist.value-list

    input.chosen-value#landkreis(type='text' value='' placeholder='Type to filter')
    ul#landkreislist.value-list

    block content

    script(src='/jquery/dist/jquery.js')
    script(src='/bootstrap/dist/js/bootstrap.bundle.js')
    script(src='/chart.js/dist/Chart.bundle.js')
    script(src='/javascripts/index.js')