doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.css')
    title= title
  body
    div.header-bar
      div.container-fluid
        div.row
          div.col-lg-1
          div.col-lg-4
            #title.col-lg-6.float-left
              img.pr-2(src='/images/virus_32.png')
              a #{title}
            #desc.col-lg-6.float-left
              a Team Kombistudium
              a Webanwendungen 2 - Praktikum
          div.col-lg-5
            div.col-lg-5.float-left
              select(name="bundesland")
                option.disabled.hidden.selected Bundesland
            div.col-lg-5.float-left
              select(name="landkreis")
                option.disabled.hidden.selected Landkreis
            div.col-lg-2.float-left
              input(type="button", value="Tables")
          div.col-lg-1
            img.float-right(src='/images/calendar_32.png')
          div.col-lg-1
    block content

    script(src='/node_modules/jquery/dist/jquery.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.bundle.js')