doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    title= title
  body
    nav.navbar.navbar-dark.navbar-expand-lg
      .navbar-brand
        svg.float-left(width='32' height='32')
          path(d='m 30,14 c -0.73875,0 -1.385,0.4025 -1.73125,1 H 26.4525 C 26.24875,12.853875 25.396938,10.893938 24.094563,9.319625 l 1.28825,-1.28825 c 0.662687,0.178375 1.40725,0.0065 1.930875,-0.5163125 0.78,-0.78 0.78,-2.04875 0,-2.82875 -0.78,-0.78 -2.04875,-0.78 -2.82875,0 -0.521813,0.5224375 -0.694313,1.264125 -0.516313,1.930875 l -1.28825,1.28825 C 21.106063,6.6030625 19.146125,5.75125 17,5.5475 V 3.73125 C 17.5975,3.385 18,2.73875 18,2 18,0.896875 17.103125,0 16,0 c -1.103125,0 -2,0.896875 -2,2 0,0.73875 0.4025,1.385 1,1.73125 V 5.5475 C 12.853875,5.75125 10.893938,6.6030625 9.319625,7.9054375 l -1.28825,-1.28825 c 0.178,-0.6668125 0.00544,-1.4085 -0.5163125,-1.930875 -0.78,-0.78 -2.04875,-0.78 -2.82875,0 -0.78,0.78 -0.78,2.04875 0,2.82875 0.523375,0.5225 1.267875,0.6948125 1.930875,0.5163125 l 1.28825,1.28825 C 6.6030625,10.893938 5.75125,12.853875 5.5475,15 H 3.73125 C 3.385,14.4025 2.73875,14 2,14 c -1.103125,0 -2,0.896875 -2,2 0,1.103125 0.896875,2 2,2 0.73875,0 1.385,-0.4025 1.73125,-1 H 5.5475 c 0.20375,2.146125 1.0555625,4.106062 2.3579375,5.680375 l -1.28825,1.28825 c -0.66675,-0.178 -1.4085,-0.0054 -1.930875,0.516312 -0.78,0.780001 -0.78,2.04875 0,2.82875 0.7814375,0.781438 2.0501875,0.778563 2.82875,0 C 8.036875,26.79125 8.209375,26.049562 8.031375,25.382812 l 1.28825,-1.28825 C 10.893938,25.396937 12.853875,26.24875 15,26.4525 v 1.81625 C 14.4025,28.615 14,29.26125 14,30 c 0,1.103125 0.896875,2 2,2 1.103125,0 2,-0.896875 2,-2 0,-0.73875 -0.4025,-1.385 -1,-1.73125 V 26.4525 c 2.146125,-0.20375 4.106063,-1.055563 5.680375,-2.357937 l 1.28825,1.28825 c -0.178,0.66675 -0.0054,1.4085 0.516313,1.930875 0.778562,0.778562 2.047312,0.781437 2.82875,0 0.78,-0.78 0.78,-2.04875 0,-2.82875 -0.522438,-0.521813 -1.264125,-0.694313 -1.930875,-0.516313 l -1.28825,-1.28825 C 25.396938,21.106062 26.24875,19.146125 26.4525,17 h 1.81625 c 0.34625,0.5975 0.9925,1 1.73125,1 1.103125,0 2,-0.896875 2,-2 0,-1.103125 -0.896875,-2 -2,-2 z m -17.3125,1.5 c -0.965,0 -1.75,-0.785 -1.75,-1.75 0,-0.965 0.785,-1.75 1.75,-1.75 0.965,0 1.75,0.785 1.75,1.75 0,0.965 -0.785,1.75 -1.75,1.75 z M 17,21.5 c -1.103125,0 -2,-0.896875 -2,-2 0,-1.103125 0.896875,-2 2,-2 1.103125,0 2,0.896875 2,2 0,1.103125 -0.896875,2 -2,2 z m 3.5,-7 C 19.673125,14.5 19,13.826875 19,13 c 0,-0.826875 0.673125,-1.5 1.5,-1.5 0.826875,0 1.5,0.673125 1.5,1.5 0,0.826875 -0.673125,1.5 -1.5,1.5 z', style='fill:rgb(255,255,255)')
        .float-left#label #{title}

    input.chosen-value#bundesland(type='text' value='' placeholder='Type to filter')
    ul#bundeslandlist.value-list

    input.chosen-value#landkreis(type='text' value='' placeholder='Type to filter')
    ul#landkreislist.value-list

    block content

    .footer
      .tabs
        .chart.float-left
          svg(fill='black')
            path(d='m 26.593422,1.9021359 c 0,-0.562 -0.249,-1.09520024 -0.6796,-1.45640024 -0.4306,-0.3611998 -0.9998,-0.5149998 -1.5532,-0.4165998 -4.669601,0.83039977 -8.961201,2.75199994 -12.602802,5.49159994 -0.44,0.331 -0.7148,0.8368 -0.7532,1.3862 -0.0384,0.5494 0.164,1.0879998 0.5534,1.4773998 l 9.808202,9.8082004 c 0.5996,0.5996 1.525,0.73 2.2662,0.318 0.5482,-0.3048 1.122,-0.569 1.7174,-0.7882 0.7474,-0.2752 1.2436,-0.9872 1.2436,-1.7836 z')
            path(d='m 32,16.054511 c 0,0.802388 0.50061,1.519358 1.253844,1.796356 3.402134,1.25122 6.10281,3.952095 7.354034,7.354227 0.276996,0.75303 0.99437,1.253236 1.796756,1.253236 h 14.139972 c 0.566688,0 1.103962,-0.251008 1.467586,-0.685542 0.36362,-0.434534 0.515718,-1.007666 0.416402,-1.56549 C 56.242228,11.912647 46.545698,2.2161256 34.251034,0.02955846 c -0.557422,-0.099114 -1.12995,0.053788 -1.56408,0.4172084 C 32.252824,0.81018748 32,1.3474617 32,1.9137451 Z')
            path(d='m 43.027495,31.94864 c -0.796598,0 -1.508596,0.497 -1.783396,1.2448 -1.728596,4.701 -6.244784,8.0546 -11.545572,8.0546 -6.792784,0 -12.299369,-5.5066 -12.299369,-12.2994 0,-1.5166 0.2754,-2.9684 0.777798,-4.3096 0.261399,-0.6976 0.0906,-1.484398 -0.436198,-2.011198 L 7.6693818,12.556441 c -0.406,-0.406 -0.973798,-0.6064 -1.544796,-0.5458 -0.571,0.0606 -1.0853979,0.3756 -1.3967979,0.858 C 1.736796,17.503042 0,23.022642 0,28.94864 c 0,16.402 13.296568,29.698604 29.698527,29.698604 14.615766,0 26.765135,-10.558204 29.238127,-24.463604 0.0984,-0.5534 -0.0534,-1.1218 -0.414198,-1.5528 -0.3608,-0.431 -0.894198,-0.682 -1.456396,-0.682 H 43.027495 Z')
        .data.float-left
          svg(fill='black')
            path(d='M 51.595344,0 H 7.370762 C 3.307034,0 0,3.3070289 0,7.3707471 V 46.681247 c 0,4.063719 3.307034,7.370747 7.370762,7.370747 h 44.224582 c 4.06372,0 7.37076,-3.307028 7.37076,-7.370747 V 7.3707471 C 58.966104,3.3070289 55.659064,0 51.595344,0 Z m -33.16844,17.198258 h 8.599373 v 7.370748 h -8.599373 z m -4.913991,7.370748 H 4.913991 v -7.370748 h 8.598922 z M 31.93982,17.198258 h 8.599374 v 7.370748 H 31.93982 Z m 13.513364,0 h 8.59891 v 7.370748 h -8.59891 z M 4.913991,29.482987 h 8.598922 v 7.370749 H 4.913991 Z m 13.512913,0 h 8.599373 v 7.370749 h -8.599373 z m 8.599373,12.284729 v 7.370749 h -8.599373 v -7.370749 z m 4.913543,0 h 8.599374 v 7.370749 H 31.93982 Z m 0,-4.91398 v -7.370749 h 8.599374 v 7.370749 z m 13.513364,-7.370749 h 8.59891 v 7.370749 h -8.59891 z M 4.913991,46.681247 v -4.913531 h 8.598922 v 7.370749 H 7.370762 c -1.353676,0 -2.456771,-1.103096 -2.456771,-2.457218 z m 46.681353,2.457218 h -6.14216 v -7.370749 h 8.59891 v 4.913531 c 0,1.354122 -1.10308,2.457218 -2.45675,2.457218 z m 0,0')
        .doc.float-left
          svg(fill='black')
            path(d='m 28.763385,32.501385 c 0.301455,-0.91518 0.827505,-1.767255 1.51347,-2.45784 L 40.940865,19.42248 V 12.6 h -11.067 C 29.00331,12.6 28.35,11.895555 28.35,11.025 V 0 H 4.725 C 2.11953,0 0,2.11953 0,4.725 v 44.31 c 0,2.60547 2.11953,4.725 4.725,4.725 h 31.448865 c 2.60547,0 4.767,-2.11953 4.767,-4.725 V 37.280145 l -1.73082,1.68882 c -0.701295,0.695205 -1.522605,1.2012 -2.4486,1.510425 l -5.007975,1.671915 -0.76293,0.04158 c -1.26126,0 -2.454795,-0.613725 -3.196095,-1.64115 -0.73521,-1.022805 -0.93513,-2.34864 -0.53529,-3.546795 z M 7.8750002,28.35 H 23.573865 c 0.870555,0 1.575,0.704445 1.575,1.575 0,0.870555 -0.704445,1.575 -1.575,1.575 H 7.8750002 C 7.0044448,31.5 6.3,30.795555 6.3,29.925 6.3,29.054445 7.0044448,28.35 7.8750002,28.35 Z M 6.3,23.625 C 6.3,22.754445 7.0044448,22.05 7.8750002,22.05 H 23.573865 c 0.870555,0 1.575,0.704445 1.575,1.575 0,0.870555 -0.704445,1.575 -1.575,1.575 H 7.8750002 C 7.0044448,25.2 6.3,24.495555 6.3,23.625 Z m 0,12.6 C 6.3,35.354445 7.0044448,34.65 7.8750002,34.65 H 23.573865 c 0.870555,0 1.575,0.704445 1.575,1.575 0,0.870555 -0.704445,1.575 -1.575,1.575 H 7.8750002 C 7.0044448,37.8 6.3,37.095555 6.3,36.225 Z M 29.873865,44.1 c 0.870555,0 1.575,0.704445 1.575,1.575 0,0.870555 -0.70434,1.575 -1.575,1.575 h -9.45 c -0.870555,0 -1.575,-0.704445 -1.575,-1.575 0,-0.870555 0.704445,-1.575 1.575,-1.575 z M 7.8750002,18.9 C 7.0044448,18.9 6.3,18.195555 6.3,17.325 6.3,16.454445 7.0044448,15.75 7.8750002,15.75 H 29.873865 c 0.870555,0 1.575,0.704445 1.575,1.575 0,0.870555 -0.704445,1.575 -1.575,1.575 z')
            path(d='m 40.943185,9.186333 c 0,-1.26126 -0.49223,-2.4486 -1.38432,-3.34068 l -4.45431,-4.45431 c -0.87969,-0.87979501 -2.12845,-1.38432 -3.37123,-1.38432 h -0.27069 v 9.4500002 h 9.48066 z')
            path(d='m 30.798894,34.972084 -1.37025,4.11085 c -0.20538,0.61583 0.38063,1.20163 0.99645,0.99593 l 4.10844,-1.37214 z')
            path(d='m 42.63069,22.340231 -10.37284,10.37284 4.47352,4.47353 c 2.34444,-2.34486 6.90617,-6.90722 10.37232,-10.37337 z')
            path(d='m 51.475155,18.23628 c -0.55366,-0.55681 -1.36888,-0.87517 -2.23335,-0.87517 -0.86447,0 -1.67958,0.31836 -2.2364,0.87675 l -2.28868,2.28869 4.47279,4.47279 c 1.25296,-1.25307 2.119,-2.11911 2.28889,-2.2889 1.23029,-1.23217 1.23018,-3.23914 -0.003,-4.47415 z')
      svg(fill='#016ab6' width='100%' height='100%')
        ellipse(cx='50%' cy='120%' rx='40%' ry='80%')
      .bottom

    script(src='/jquery/dist/jquery.js')
    script(src='/bootstrap/dist/js/bootstrap.bundle.js')
    script(src='/chart.js/dist/Chart.bundle.js')
    script(src='/javascripts/index.js')