doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    title= title
    body
      nav.navbar.navbar-expand-lg.navbar-dark(style='background-color: #016ab6;')
        div.row
          div.col-lg-6.float-left(href='/')
            a.navbar-brand
              img(src='/images/virus_32.png' width='30' height='30')
            a.navbar-brand.align-middle #{title} | Team Kombistudium
          div.col-lg-6.float-left.text-right
            select(name= 'bundesland')
              option.selected Deutschland
            select(name='landkreis')
            input(type="button", value="Table")
            img(src="/images/calendar_32.png", alt="")
      block content

    script(src='/jquery/dist/jquery.js')
    script(src='/bootstrap/dist/js/bootstrap.bundle.js')
    script(src='/chart.js/dist/Chart.bundle.js')
    script(src='/javascripts/index.js')