extends layout

append stylesheets
      link(rel='stylesheet', href='/stylesheets/modules/tabulator.css')

block content
    #table

append scripts
    script(src='/javascripts/modules/tabulator.js')
    script(src='/javascripts/table.js')