* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-weight: 600;
}

nav {
  position: relative;
  color: #fff;
  background-color: #022d4d;
  height: 4rem;
  z-index: 2;
}

#subNav {
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  background-color: #022d4d;
  z-index: 1;
}

.chosen-value,
.value-list {
  position: absolute;
  top: 0;
  width: 20%;
  color: #fff;
}

#bundesland, #bundeslandlist {
  left: 60%;
  z-index: 2;
}

#landkreis, #landkreislist {
  left: 80%;
  z-index: 2;
}
.chosen-value {
  font-weight: 600;
  height: 4rem;
  font-size: 1.1rem;
  padding: 1rem;
  background-color: #022d4d;
  border: 3px solid transparent;
  transition: .3s ease-in-out;
  
  &::-webkit-input-placeholder {
    color: #333;
  }
  
  &:hover {
    background-color: #18627f;
    cursor: pointer;
    
    &::-webkit-input-placeholder {
      color: #333;
    }
  }
  
  &:focus,
  &.open {
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
    outline: 0;
    background-color: #022d4d;
    color: #fff;
    
    &::-webkit-input-placeholder {
      color: #fff;
    }
  }
}

.value-list {
  list-style: none;
  margin-top: 4rem;
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
  overflow: hidden;
  max-height: 0;
  transition: .3s ease-in-out;
  
  &.open {
   max-height: 320px;
   overflow: auto;
  }
  
  li {
    position: relative;
    height: 4rem;
    background-color: #022d4d;
    padding: 1rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s;
    opacity: 1;
    
    &:hover {
      background-color: #18627f;
    }
    
    &.closed {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      opacity: 0;
    }
  }
}

svg {
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}

.navbar-brand {
  cursor: pointer;
}

.navbar-brand:hover > svg {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.navbar-brand > div, .navbar-brand > svg {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

#label {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 32px;
  margin-left: 1.2rem;
}

.footer {
  height: 15%;
  width: 100%;
  position: absolute;
  top: 85%;
  left: 0;
}

.bottom {
  height: 40%;
  width: 100%;
  position: absolute;
  top: 60%;
  left: 0;
  background-color: #022d4d;
}

.tabs {
  height: 80%;
  width: 52%;
  position: absolute;
  top: 20%;
  left: 24%;
  z-index: 1;
}

.chart, .data, .doc {
  height: 100%;
  width: 33.33%;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.pen {
  fill: none;
  stroke: #ff9412;
  stroke-width: 34;

  stroke-dasharray: 230 230;
  stroke-dashoffset: 230;
  animation-duration: 2s;
  animation-name: draw;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.pen2 {
  fill: none;
  stroke: white;
  stroke-width: 4.0;

  stroke-dasharray: 160 160;
  stroke-dashoffset: 160;
  animation-duration: 2s;
  animation-name: draw2;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

svg:hover .pen,
svg:hover .pen2 {
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.clippedChart {
  clip-path: url(#TabChart);
}

.clippedTable {
  clip-path: url(#TabTable);
}

.clippedDoc {
  clip-path: url(#TabDoc);
}

@keyframes draw {
  from {
    stroke-dashoffset: 230;
  } to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw2 {
  from {
    stroke-dashoffset: 160;
  } to {
    stroke-dashoffset: 0;
  }
}

#DateRange {
  position: absolute;
  left: calc(50% - 2rem);
  top: 1rem;
  width: 4rem;
  height: 5rem;
  cursor: pointer;
}

#DateRange svg {
  height: 5rem;
  width: 4rem;
}

#DateRange:hover > svg {
  animation-name: wiggle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
}

@keyframes wiggle {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 7px);
  }
  100% {
    transform: translate(0, 0);
  }
}

svg g.Bundesland:hover polygon,
svg g.Bundesland:hover path,
svg g.Landkreis:hover polygon,
svg g.Landkreis:hover path {
  fill: #18627f;
}

/* 
    TODO: 
        - Shadows 
        - Fix animation start point.
*/