* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-weight: 600;
}

nav {
  position: relative;
  color: #fff;
  background-color: #016ab6;
  height: 4rem;
}

.chosen-value,
.value-list {
  position: absolute;
  top: 0;
  width: 20%;
  color: #fff;
}

#bundesland, #bundeslandlist {
  left: 50%;
}

#landkreis, #landkreislist {
  left: 70%;
}
.chosen-value {
  font-weight: 600;
  height: 4rem;
  font-size: 1.1rem;
  padding: 1rem;
  background-color: #016ab6;
  border: 3px solid transparent;
  transition: .3s ease-in-out;
  
  &::-webkit-input-placeholder {
    color: #333;
  }
  
  &:hover {
    background-color: #0687c2;
    cursor: pointer;
    
    &::-webkit-input-placeholder {
      color: #333;
    }
  }
  
  &:focus,
  &.open {
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
    outline: 0;
    background-color: #0687c2;
    color: #fff;
    
    &::-webkit-input-placeholder {
      color: #fff;
    }
  }
}

.value-list {
  list-style: none;
  margin-top: 4rem;
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
  overflow: hidden;
  max-height: 0;
  transition: .3s ease-in-out;
  
  &.open {
   max-height: 320px;
   overflow: auto;
  }
  
  li {
    position: relative;
    height: 4rem;
    background-color: #016ab6;
    padding: 1rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s;
    opacity: 1;
    
    &:hover {
      background-color: #0687c2;
    }
    
    &.closed {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      opacity: 0;
    }
  }
}

svg {
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}
.navbar-brand:hover > svg {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}

.navbar-brand > div, .navbar-brand > svg {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

#label {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 32px;
  margin-left: 1.2rem;
}

.footer {
  height: 10%;
  width: 100%;
  position: absolute;
  top: 90%;
  left: 0;
}

.bottom {
  height: 40%;
  width: 100%;
  position: absolute;
  top: 60%;
  left: 0;
  background-color: #016ab6;
}

.tabs {
  height: 100%;
  width: 40%;
  position: absolute;
  top: 0;
  left: 30%;
}

.chart, .data, .doc {
  height: 100%;
  width: 33%;
}