.row {
  width: 100%;
}

select,
input {
  width: 15%;
  height: 3em;
  background-color: #3f9cdd;
  color: #fff;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  margin-right: 5% !important;
}

input {
  padding-left: 1%;
}

img {
  cursor: pointer;
}
