* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-weight: 600;
}

nav {
  position: relative;
  color: #fff;
  background-color: #022d4d;
  height: 7vh;
  width: 100vw;
  z-index: 2;
}

.navbar-brand {
  height: 100%;
  width: 30vw;
  cursor: pointer;
}

.navbar-brand:hover > #logo > svg {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.navbar-brand > div, .navbar-brand > svg {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

#logo {
  height: 100%;
  width: 2vw;
  margin: 0;
}

#logo > svg {
  height: 100%;
  width: 100%;
}

#label {
  font-weight: 600;
  font-size: 1.6vw;
  margin-left: 1.2vw;
}

#daterange {
  cursor: pointer;
  padding: 10px 10px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  width: 20vw;
  height: 100%;
  text-align: center;
  font-size: 1.2vw;
  font-weight: 600;
}

.chosen-value {
  font-weight: 600;
  height: 7vh;
  font-size: 1.2vw;
  padding: 1rem;
  background-color: #022d4d;
  border: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.chosen-value::-webkit-input-placeholder {
  color: #333;
}
.chosen-value:hover {
  background-color: #18627f;
  cursor: pointer;
}
.chosen-value:hover::-webkit-input-placeholder {
  color: #333;
}
.chosen-value:focus, .chosen-value.open {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  outline: 0;
  background-color: #022d4d;
  color: #fff;
}
.chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder {
  color: #fff;
}

.chosen-value,
.value-list {
  position: absolute;
  top: 0;
  width: 20vw;
  color: #fff;
}

#level2, #level2_dropdown {
  left: 60vw;
  z-index: 2;
}

#level3, #level3_dropdown {
  left: 80vw;
  z-index: 2;
}

.value-list {
  list-style: none;
  margin-top: 7vh;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
}
.value-list.open {
  max-height: 320px;
  overflow: auto;
}
.value-list li {
  position: relative;
  height: 7vh;
  background-color: #022d4d;
  padding: 1rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 1;
}
.value-list li:hover {
  background-color: #18627f;
}
.value-list li.closed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
}

svg {
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}

#chartContent {
  position: absolute;
  left: 0;
  top: 7vh;
  height: 88vh;
  width: 100vw;
}

#tableContent {
  position: absolute;
  left: 0;
  top: 100vh;
  height: 88vh;
  width: 100vw;
}

#data, #map, #charts {
  float: left;
  width: 33.33vw;
  height: 100%;
}

#summary {
  margin: auto;
}

.footer {
  height: 14vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.tabs {
  width: 50vw;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 25vw;
  z-index: 1;
}

.bottom {
  height: 5vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #022d4d;
}

.charts, .tables {
  height: 100%;
  width: 50%;
  padding: 2.5%;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.pen {
  fill: none;
  stroke: #ff9412;
  stroke-width: 34;
  stroke-dasharray: 230 230;
  stroke-dashoffset: 230;
  animation-duration: 2s;
  animation-name: draw;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

svg:hover .pen {
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.clippedChart {
  clip-path: url(#TabChart);
}

.clippedTable {
  clip-path: url(#TabTable);
}

@keyframes draw {
  from {
    stroke-dashoffset: 230;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#DateLeft {
  position: absolute;
  left: -2.5rem;
  top: calc(50% - 2rem);
  width: 5rem;
  height: 4rem;
  z-index: 1;
  cursor: pointer;
}

#DateRight {
  position: absolute;
  right: -2.5rem;
  top: calc(50% - 2rem);
  width: 5rem;
  height: 4rem;
  z-index: 1;
  cursor: pointer;
}

#DateLeft svg, #DateRight svg {
  height: 4rem;
  width: 5rem;
}

#DateLeft:hover > svg {
  animation-name: wiggleLeft;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
}

#DateRight:hover > svg {
  animation-name: wiggleRight;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
}

@keyframes wiggleLeft {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-7px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes wiggleRight {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(7px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
svg g.Level2:hover polygon,
svg g.Level2:hover path,
svg g.Level3:hover polygon,
svg g.Level3:hover path {
  fill: #18627f;
  cursor: pointer;
}

#summary {
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
}

#location {
  color: #18627f;
}

#cases, #casesdiff {
  color: #022d4d;
}

#deaths, #deathsdiff {
  color: #ff9412;
}

#deathrate, #deathratediff {
  color: #AF3800;
}

#vaccination, #vaccinationdiff {
  color: #018E42;
}

#casesdiff, #deathsdiff, #deathratediff, #vaccinationdiff {
  padding: 0;
  font-size: 0.8em !important;
  font-weight: normal;
}

.btn-primary {
  background-color: #ff9412 !important;
}

.row {
  margin: 0 !important;
}

.tabulator-tableHolder {
  max-height: 79vh !important;
}

/* 
    TODO: 
        - Shadows 
        - Fix animation start point.
*/

/*# sourceMappingURL=style.css.map */
